<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.example"
    version   = "1.0.0">

<name>Catalogo de Servicios 9.0</name>

<description>
Trabajo final Catalogo de Servicios
</description>

<author href="https://araconsultoriaysoluciones.com" email="ing.jmarchena@gmail.com">
JESUS ERNESTO MARCHENA SANCHEZ 
</author>
<icon src="img/icon.png" />
<access origin="*" launch-external="yes" />
<access origin="https://www.sandbox.paypal.com/" />
<access origin="sms:*" launch-external="yes" />
<access origin="geo:*" launch-external="yes" />
<access origin="https://www.sandbox.paypal.com/*" launch-external="yes" />
<access origin="http://*" launch-external="yes" />
<access origin="https://*" launch-external="yes" />
<access origin="*" launch-external="yes" />
<allow-navigation href="*" />

<feature name="InAppBrowser">
    <param name="android-package" value="org.apache.cordova.inappbrowser.InAppBrowser" />
</feature>
</widget>